@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Rubik&display=swap');

.app {
  height: 100vh;
  background-color: #7b6dfb;
}

.title {
  font-size: 24px;
  font-weight: bold;
  padding: 40px;
  color: azure;
}
